<body>
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header">
            <h1>Actuliza la Edicion de tu revista --nombreRevista</h1>
          </div>
          <div class="card-body"> 
              <div class="form-group">
                <h6>
                  Archivo (pdf) de la nueva edicion
                </h6>
                <div class="input-group">
                  <input type="file" aria-label="First name" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <h6>
                  Descripcion de la edicion
                </h6>
                <div class="input-group">
                  <textarea class="form-control" placeholder="breve descripcion, cambios importantes" id="floatingTextarea"></textarea>                </div>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click) = "popAfirmation()">
                  Actulizar
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  