<app-navbar></app-navbar>
<body>
    <div class="conteiner">
        <div class="card-header" [hidden]="!esEditor">
            <h2 class="h1 text-center">Mis Revistas Publicadas</h2>
            <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>REVISTA</th>
                    <th>MODIFICACIONES</th> 
                    <th> PUBLICAR</th> 
                    <th>VER</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let revista of revistas; let i= index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{revista.titulo}}</td>
                    <td>
                      <button class="btn btn-success" (click)="generalClick(revista)">General</button>
                      <button class="btn btn-warning" (click)="prmisosClick(revista)">Permisos</button>
                    </td>
                    <td>
                      <button class="btn btn-danger" (click)="edicionClick(revista)" >Edicion</button>
                    </td>
                    <td>
                      <button class="btn btn-info" (click)="edicionesClick(revista)" >Ediciones</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="card-header" [hidden]="esEditor">
          <h2 class="h1 text-center">Mis Revista</h2>
          <table class="table table-success table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>REVISTA</th>
                  <th>COMUNIDAD</th> 
                  <th>EDICIONES</th> 
                  <th>PAGO</th>                     
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let suscipcion of suscripciones; let i= index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{suscipcion.revista}}</td>
                  <td>
                    <button class="btn btn-success" (click)="comunidad(suscipcion)" >Ir</button> 
                  </td>
                  <td>
                    <button class="btn btn-danger" (click)="listarEdiciones(suscipcion)" >Listar</button>
                  </td> 
                  <td [hidden]="suscipcion.activo">
                    <button class="btn btn-info" (click)="pagar(suscipcion)">Pagar</button>
                  </td>
                  <td [hidden]="!suscipcion.activo"> 
                    todo bien
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
</body>
<app-footer></app-footer>