<app-navbar></app-navbar>
<body>
    <div class="conteiner">
        <div class="card-header">
            <h2 class="h1 text-center">Mis Revistas Publicadas</h2>
            <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>REVISTA</th>
                    <th>MODIFICACIONES</th> 
                    <th>ACTUALIZAR</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let revista of revistas; let i= index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{revista.titulo}}</td>
                    <td>
                      <button class="btn btn-success">General</button>
                      <button class="btn btn-warning" (click) = " PrmisosClick()">Permisos</button>
                    </td>
                    <td>
                      <button class="btn btn-danger" (click)="edicionClick()" >Edicion</button>
                      <button class="btn btn-info">Etiquetas</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>
<app-footer></app-footer>