<app-navbar></app-navbar>
<body>
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header">
            <h1>Actulizar Permisos de: </h1>
            <h2>{{revista.titulo}}</h2>
          </div>
          <div class="card-body"> 
            <form [formGroup]="permisos"
            (ngSubmit)="actulizarPermisos()">
              <div class="form-group">
                <h4>
                    Permisos para Suscripciones 
                </h4>
                <div class="input-group">
                    <select formControlName="suscripcion" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option [ngValue]="null" selected>Selecciones una opcion</option>
                        <option>{{bloquear}}</option>
                        <option>{{permitir}}</option>
                      </select>      
                </div>
                 <h4>
                    Permisos para Comentarios 
                </h4>
                <div class="input-group">
                    <select formControlName="comentar" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option [ngValue]="null" selected>Seleccione un opcion</option>
                        <option>{{bloquear}}</option>
                        <option>{{permitir}}</option>
                      </select>     
                </div>
                <h4>
                    Permisos para Me Gusta 
                </h4>
                <div class="input-group">
                    <select formControlName="reaccionar" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option [ngValue]="null" selected>Selecciones una opcion</option>
                        <option>{{bloquear}}</option>
                        <option>{{permitir}}</option>
                       
                      </select>      
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                  Actulizar
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="card2">
          <div class="card-header">
            <h1>Lista de Me gusta</h1>
          </div>
          <div class="card-body"> 
              <div class="form-group">
                  <table class="table table-success table-striped">
                      <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Usuario</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                          </tr>
                        </tbody>
                  </table>
              </div>
          </div>
          </div>
          <div class="card3">
            <div class="card-header">
              <h1>Lista de Me gusta</h1>
            </div>
            <div class="card-body"> 
                <div class="form-group">
                    <table class="table table-success table-striped">
                        <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Usuario</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Mark</td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
          </div>
      </div>
    </div>
  </body>
<app-footer></app-footer>