@import url("https://fonts.googleapis.com/css?family=Numans");

body {
  background-image: url("./../../../resources/homeSus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  position: absolute;
  top: 125px;
  left: 25px;
  height: 500px;
  margin-top: auto;
  margin-bottom: auto;
  width: 450px;
  font-family: "Roboto";
  background-color: rgba(119, 114, 114, 0.5) !important;
}

.card1 {
  background-image: url("./../../../resources/perfil.png");
  width: 350px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Numans", sans-serif;
}

.img-thumbnail{
  width: 350px;
  height: 200px;
  border-radius:150px;
  border:10px solid #666;
}

.card2{
    position: absolute;
    top: 100px;
    left: 500px;
    height: 580px;
    margin-top: auto;
    margin-bottom: auto;
    width: 700px;
    font-family: 'Roboto';
    background-color: rgba(119, 114, 114, 0.5) !important;
    }
  

.card-header h1,
h3 {
  color: rgb(14, 188, 231);
}

.form-check-label{
    color: rgb(5, 6, 41);
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
