<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>com.proyectoipc.revistasdigitales.servlet.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EtiquetaServlet</servlet-name>
        <servlet-class>com.proyectoipc.revistasdigitales.servlet.EtiquetaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaControl</servlet-name>
        <servlet-class>com.proyectoipc.revistasdigitales.servlet.CategoriaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadRevista</servlet-name>
        <servlet-class>com.proyectoipc.revistasdigitales.servlet.UploadRevista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermisosControl</servlet-name>
        <servlet-class>com.proyectoipc.revistasdigitales.servlet.PermisosControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EdicionControl</servlet-name>
        <servlet-class>com.proyectoipc.revistasdigitales.servlet.EdicionControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EtiquetaServlet</servlet-name>
        <url-pattern>/EtiquetaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaControl</servlet-name>
        <url-pattern>/CategoriaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadRevista</servlet-name>
        <url-pattern>/UploadRevista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermisosControl</servlet-name>
        <url-pattern>/PermisosControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EdicionControl</servlet-name>
        <url-pattern>/EdicionControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>http://localhost:4200</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
        </init-param>
        <init-param>
            <param-name>cors.support.credentials</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
