<app-navbar></app-navbar>
<body>
  <div class="container">
    <div class="card-header-danger">
      <form
        [formGroup]="publicRForm"
        (ngSubmit)="publicarRevista()"
        class="row g-4"
      >
        <div class="col-12">
          <br />
          <h1 class="h1">Formulario Para Publicar Revista</h1>
        </div>
        <div class="col-md-6">
          <h4>Titulo de la Revista</h4>
          <input
            formControlName="titulo"
            type="text"
            class="form-control"
          />
        </div>
        <div class="col-md-4">
          <h4>Categoria</h4>
          <select
            formControlName="categoria"
            id="inputState"
            class="form-select"
          >
            <option [ngValue]="null" selected>categorias existentes</option>
            <option *ngFor="let categoira of categorias">
              {{ categoira.categoria }}
            </option>
          </select>
        </div>
        <div class="col-md-2" [hidden]="publicRForm.controls.categoria.value != null">
          <h4>Crear</h4>
          <input
            type="text"
            class="form-control"
            placeholder="categoria nueva"
            formControlName="categoriaNueva"
          />
        </div>
        <div class="col-12">
          <h4>Descripcion</h4>
          <textarea
            formControlName="descripcion"
            class="form-control"
            aria-label="With textarea"
            required
          ></textarea>
        </div>
        <div class="col-md-4">
          <h4>Tipo de Revista</h4>
          <select
            formControlName="tipoRevista"
            id="inputState"
            class="form-select"
          >
            <option [ngValue]="null" selected>Seleccione una opcion</option>
            <option>Pagada</option>
            <option>Gratis</option>
          </select>
        </div>
        <div class="col-md-3">
          <h4>Precio de Suscripcion Q</h4>
          <input
            formControlName="precio"
            type="number"
            class="form-control"
            required="number"
            min="0"
          />
        </div>
        <div class="col-md-4">
          <h4>Revista PDF</h4>
          <input
          (change)="fileUploadInAngular($event)"
            type="file"
            class="form-control"
            required
          />
        </div>
        <div class="col-1">
          <button type="submit" class="btn btn-primary" [disabled]="!this.valid">Publicar</button>
        </div>
      </form>
      <form class="row g-4">
        <div class="col-md-2">
          <h4>Tags</h4>
          <div *ngFor="let etiqueta of etiquetas" class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              name="{{ etiqueta.etiqueta }}"
              (change)="onchange()"
              [(ngModel)]="etiqueta.seleccionado"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              {{ etiqueta.etiqueta }}
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <h4>Crear</h4>
          <input
            type="text"
            class="form-control"
            placeholder="Nueva Etiqueta"
            (input) = 'modificarEtiquetaNueva($event)'
          />
        </div>
        <div class="col-md-2">
          <h4>Fecha</h4>
          <input
            type="date"
            class="form-control"
            (input) = 'modificarFecha($event)'
          />
        </div>
      </form>
    </div>
  </div>
</body>
<app-footer></app-footer>
