<body>
  <div class="container">
    <div class="card-header-danger">
        <form class="row g-4">
            <div class="col-12">
                <br>
                <h1>Formulario Para Publicar Revista</h1>
            </div>
            <div class="col-md-6">
                <h4>Titulo de la Revista</h4>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <h4>Categoria</h4>
                <select id="inputState" class="form-select">
                  <option selected>Existentes</option>
                  <option>hola</option>
                  <option>hola</option>
                </select>
              </div>
              <div class="col-md-2">
                <h4>Crear</h4>
                <input type="text" class="form-control" placeholder="categoria nueva">
              </div>
            <div class="col-12">
                <h4>Descripcion</h4>
                <textarea class="form-control" aria-label="With textarea"></textarea>        
            </div>
            <div class="col-md-6">
                <h4>Titulo de la Revista</h4>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <h4>Categoria</h4>
                <select id="inputState" class="form-select">
                  <option selected>Existentes</option>
                  <option>hola</option>
                  <option>hola</option>
                </select>
              </div>
              <div class="col-md-2">
                <h4>Crear</h4>
                <input type="text" class="form-control" placeholder="categoria nueva">
              </div>
            <div class="col-md-6">
                <h4>Revista PDF</h4>
              <input type="file" class="form-control" >
            </div>
            <div class="col-md-2">
                <h4>Tags</h4>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      etiqueta tal
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      etiqut fadsf 
                    </label>
                  </div>
              </div>
              <div class="col-md-2">
                <h4>Crear</h4>
                <input type="text" class="form-control" placeholder="Nueva Etiqueta">
              </div>    
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Publicar</button>
            </div>
          </form>
    </div>
  </div>
</body>
